.side-bar {
    background-color: var(--primary-color);
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 30px 0;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease;
    overflow: hidden;
}

.side-bar:hover{
    width: 200px;
}

.logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px; 
    margin-bottom: 40px;
}


.logo {
    width: 55px;
    height: 55px;
    
}
.view_all, .reviews {
    width: 35px;
    height: 35px;
}

.user_icon{
    width: 40px;
    height: 40px;
}

.add_patient{
    width: 30px;
    height: 30px;
}

.link-icons {
    flex: 1;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-section {
    width: 90%;
    padding: 0 10px;
    margin-top: auto;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    min-height: 50px;
    margin-left: 10px;
}

.nav-item:hover {
    background-color: var(--hover-color);
}

.nav-item .label {
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.2s ease;
    pointer-events: none;
}

.side-bar:hover .nav-item .label {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease 0.1s;
}
