.side-bar {
    background-color: var(--primary-color);
    max-width: 100px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
    padding: 10px 0;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.2);
}

.link-icons div,
.user, .logo-wrapper {
    width: 50px;
    height: 50px;
    margin: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease;
    border-radius: 8px;
}
.link-icons{

    margin-bottom: 120px;
}

.view_all, .reviews, .logo{
    width: 35px;
    height: 35px;
}

.user_icon{
    width: 40px;
    height: 40px;
}

.add_patient{
    width: 30px;
    height: 30px;
}

.user:hover,
.add:hover,
.review:hover,
.view:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}
