:host{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: small;
}

dt,dd{
  margin: 0;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
