.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.modal-content {
    background: white;
    border-radius: 12px;
    padding: 20px 60px;
    max-width: 600px;
    width: 100%;
    position: relative;
    z-index: 1001;
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0 12px 12px 0;
    margin-right: 50px;
}

.right img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.title {
    color: var(--primary-color);
    font-size: 1.3rem;
}

.form-title {
    text-align: center;
    color: var(--primary-color);
}

.hl {
    color: var(--secondary-color);
}

.form-wrapper {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    padding: 10px;
    border: 1px solid #B2B2B2;
    border-radius: 4px;
    font-size: 0.8rem;
    color: #959595;
}

.form-group input:focus {
    outline: none;
    border-color: var(--primary-color);
}

label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #333333;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    width: 100%;
    margin-bottom: 8px;
}

.register {
    text-align: center;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.register p {
    margin-bottom: -6px;
}

.register a {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.85rem;
}

.close-button {
    position: absolute;
    bottom: 5px;
    left: 20px;
    cursor: pointer;
    padding: 8px;
    z-index: 10;
    background: var(--primary-color);
    border-radius: 50%;
    z-index: 1003;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}