*{
  padding: 0;
  margin: 0;
}

:host{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto auto auto 1fr;
  grid-template-columns: 100%;
  row-gap: 5px;
  box-sizing: border-box;
}

.back-button{
  color: var(--primary-color);
  font-weight: bold;
  font-size: larger;
  transition: 100ms all ease-out;
}

.back-button:hover{
  color: var(--hover-color);
  cursor: pointer;
  transition: 100ms all ease-in;
}
