.personal-info{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 16px;
    color: black;
    padding: 8px 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.content{
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    gap: -10%;
}

span{
    margin-bottom: -3%;
    color: rgb(133, 133, 133);
}

.subtitle{
    font-weight:600;
    font-size: 20px;
    margin: 0;
}

.subtitle-content{
    margin: 5px 0;
    margin-bottom: -5px;
}
