<div class="personal-info">
    <header class="subtitle">
        Informacion personal
    </header>

    <div class="content">

        <div class="name-w">
            <span class="highlight">
                <p>Nombre(s)</p>
            </span>
            <span>
                <p>Luis Ángel</p>
            </span>
        </div>

        <div class="lastname-w">
            <span class="highlight">
                <p>Apellido(s)</p>
            </span>
            <span>
                <p>Perez Aguilera</p>
            </span>
        </div>

        <div class="gender-w">
            <span class="highlight">
                <p>Género</p>
            </span>
            <span>
                <p>Masculino</p>
            </span>
        </div>

        <div class="email-w">
            <span class="highlight">
                <p>Correo eléctronico</p>
            </span>
            <span>
                <p>przlp@gmail.com</p>
            </span>
        </div>

    </div>
</div>