:host{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: var(--primary-color);
  text-align: center;
  font-size: xx-large;
  padding-left: 0;
  margin: 0;
}

section{
  height: 90%;
  width: 80%;
}
