*{
  padding: 0;
  margin: 0;
}

:host{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: 1fr auto;
  grid-row-gap: 2%;
  justify-items: center;
}

.notes{
  height: 100%;
  width: 100%;
  min-height: 0;
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: auto 1fr;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px;
  padding: 2% 4%;
  box-sizing: border-box;
}

.buttons-footer{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}
