*{
  padding: 0;
  margin: 0;
}

:host{
  height: 100%;
  width: 100%;
  min-height: 0;
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: 1fr auto;
  row-gap: 15px;
  justify-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.notes{
  height: 100%;
  width: 100%;
  min-height: 0;
  display: grid;
  grid-template-columns:100%;
  grid-template-rows: auto 1fr;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.buttons-footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}

.notes-container.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.notes-container{
  width: 100%;
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  box-sizing: border-box;
}
