<main class="wrapper">
    <div class="title">
        <h1 class="features-title">Todo lo que necesitas, <span class="f-highlight">en un sólo lugar</span></h1>
    </div>

    <section class="cards-features">
        <div class="card">
            <div class="icon-title">
                <img src="assets/iconos/calculator-icon.png" alt="">
                <h2 class="card_title">Cálculos</h2>
            </div>
            <p class="card-description">Cálculos automáticos de IMC, porcentajes y más.</p>
        </div>

        <div class="card">
            <div class="icon-title">
                <img src="assets/iconos/stats-icon.png" alt="">
                <h2 class="card_title">Estadísticas</h2>
            </div>
            <p class="card-description">Observa la evolución de tus pacientes con gráficas</p>
        </div>

        <div class="card">
            <div class="icon-title">
                <img src="assets/iconos/puzzle-icon.png" alt="">
                <h2 class="card_title">Simplifica</h2>
            </div>
            <p class="card-description">El seguimiento clínico en vistas limpias y sencillas</p>
        </div>

        <div class="card">
            <div class="icon-title">
                <img src="assets/iconos/expedient-icon.png" alt="">
                <h2 class="card_title">Expedientes</h2>
            </div>
            <p class="card-description">Registra los datos de tu paciente</p>
        </div>

        <div class="card">
            <div class="icon-title">
                <img src="assets/iconos/metrics-icon.png" alt="">
                <h2 class="card_title">Medidas</h2>
            </div>
            <p class="card-description">Registra las medidas en cada consulta</p>
        </div>

        <div class="card">
            <div class="icon-title">
                <img src="assets/iconos/search-icon.png" alt="">
                <h2 class="card_title">Gestión</h2>
            </div>
            <p class="card-description">Lleva una gestión integral de tus pacientes</p>
        </div>
    </section>
    <img src="assets/otros/leaf-decoration1.png" class="deco" alt="decoracion de hojas bonitas">

</main>