<div class="step-container">
    <h2>Medidas de pliegues</h2>

    <div class="form-grid" [formGroup]="form">
        @for (field of fields; track field.name) {
        <div class="form-field">
            <input [id]="field.name" [formControlName]="field.name" [type]="field.type"
                [placeholder]="field.placeholder" [step]="field.step" [class.error]="isFieldInvalid(field.name)" />

            @if (isFieldInvalid(field.name)) {
            <span class="error-message">Valor inválido</span>
            }
        </div>
        }
    </div>
</div>