*{
  margin: 0;
  padding: 0;
}

:host{
  margin-top: 2%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a{
  color: var(--primary-color);
}

section{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.icon-wrap{
  height: 20px;
  width: 20px;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--primary-color);
  transition: 100ms all ease-out;
  border-radius: 50%;
}

.icon-wrap:hover{
  background-color: var(--hover-color);
  transition: 100ms all ease-in;
}

i{
  color: white;
}
