<section class="measurements">
    <header class="title-container">
        <h2 class="title">
            @switch (currentStep) {
            @case (1) { Medidas antropométricas }
            @case (2) { Registro de pliegues }
            @case (3) { Bioimpedancia }
            }
        </h2> 
        <app-step-indicator [currentStep]="currentStep" [totalSteps]="totalSteps"></app-step-indicator>
    </header>

    <form [formGroup]="measurementsForm">
        @if (currentStep === 1) {
        <app-step-one [form]="measurementsForm" [fields]="step1Fields">
        </app-step-one>
        }

        @if (currentStep === 2) {
        <app-step-two [form]="measurementsForm" [fields]="step2Fields">
        </app-step-two>
        }

        @if (currentStep === 3) {
        <app-step-three [form]="measurementsForm" [fields]="step3Fields">
        </app-step-three>
        }
    </form>

    <div class="buttons-container">
        @if (!isFirstStep()) {
        <button type="button" class="back" (click)="previousStep()">
            <i class="fa fa-arrow-left"></i>
            Anterior
        </button>
        }

        <button type="button" class="next" (click)="isLastStep() ? submitAllData() : nextStep()" [disabled]="isSubmitted">
            @if (isLastStep()) {
            Finalizar
            <i class="fa fa-check"></i>
            } @else {
            Siguiente
            <i class="fa fa-arrow-right"></i>
            }
        </button>
    </div>
</section>