<main class="track-wrapper">
    <div class="track-img">
        <img src="assets/otros/collage.png" class="main-img" alt="">
    </div>

    <section class="track-content">
        <div class="text">
            <h1>Seguimiento confiable y resultados concretos</h1>

            <p>La organización de consultas en un sólo expediente y la visualización de estadísticas te permite obetener
                mejores resultados</p>
        </div>

        <div class="cards_wrapper">
            <div class="card">
                <div class="icon_wrap">
                    <img src="assets/iconos/phone-icon.png" alt="">
                </div>
                <div class="card_content">
                    <h2>Móvil</h2>
                    <p class="p-card">En cualquier parte, hasta en tu celular.</p>
                </div>
            </div>

            <div class="card">
                <div class="icon_wrap">
                    <img src="assets/iconos/shield-icon.png" alt="">
                </div>
                <div class="card_content">
                    <h2>Confiable</h2>
                    <p class="p-card">Mantén los datos de tus pacientes organizados y a salvo</p>
                </div>
            </div>
        </div>
    </section>
</main>