.track-wrapper{
    display: flex;
    flex-direction: row;
    padding: 0 120px;
    margin-top: 90px;
}

h1{
    font-size: 2.5rem;
    font-weight: var(--title-weight);
    color: var(--primary-color);
    margin-bottom: 1.2em;
    text-transform: uppercase;
}

.track-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding-left: 60px;
}

p{
    font-size: 1.2rem;
    font-weight: var(--subtiles-weigth);
    line-height: 1.6em;
    margin-bottom: 1.5em;
}

.main-img{
    width: 600px;
}

.cards_wrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}

.icon_wrap{
    background-color: #F3F3F3 ;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2{
    color: var(--tertiary-color)
}

.p-card{
    margin-top: -15px;
}