.user-profile{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 50px;
}

.title-container{
    margin-top: -50px;
    margin-bottom: -24px;
}

.profile-content{
    display: flex;
    flex-direction: column;
    gap:16px;
}