<div class="profesional-info">
    <header class="subtitle">
        Información personal
    </header>

    <div class="content">

        <div class="name-w">
            <span class="highlight">
                <p>Intituciób de proveniencia</p>
            </span>
            <span>
                <p>Universidad Autónoma de Chiapas</p>
            </span>
        </div>

        <div class="lastname-w">
            <span class="highlight">
                <p>Fecha de Inicio Laboral</p>
            </span>
            <span>
                <p>15/05/2024</p>
            </span>
        </div>

        <div class="gender-w">
            <span class="highlight">
                <p>Número de cedula profesional</p>
            </span>
            <span>
                <p>87654321</p>
            </span>
        </div>

        <div class="email-w">
            <span class="highlight">
                <p>Lugar actual de trabajo</p>
            </span>
            <span>
                <p>Chica Santa Rosa</p>
            </span>
        </div>

    </div>
</div>