<footer>
    <section class="wrapper">
        <div class="info">
            <h2 class="title">
                Baria<span class="highlight">+</span>
            </h2>
            <p class="text">
                Plataforma para el registro, control y seguimiento de pacientes bariátricos.
            </p>
        </div>

        <div class="links link1">
            <ul>
                <li><a href="#">Nuestro equipo</a></li>
                <li><a href="#">Aviso de privacidad</a></li>
                <li><a href="#">Términos y condiciones de uso</a></li>
                <li><a href="#">Manual de usuario</a></li>
            </ul>
        </div>
        <div class="links link2">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </div>
    </section>
        <p class="copyright">
            © [2025] BariaPlus. Todos los derechos reservados.
        </p>
</footer>