.dropdown{
    position: relative;
    display: inline-block;
}

.dropbtn{
    font-family: var(--font-main);
    background-color: #fff;
    border-color: var(--primary-color);
    border-radius: 8px;
    width: 250 px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.dropdown_content{
    display: none;
    position: absolute;
    background-color:#fff ;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_content a{
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown_content{
    display: block;
}

.dropdown_content a:hover{
    background-color: #e6e6e6;
}


