<div class="title">
  @if (verifyConsultations()){
    <h4 (click)="onViewStats()">Ver estadisticas <img src="assets/iconos/arrowright.png" class="btn-icon"></h4>
  }
</div>
<section class="stats-container">
  <app-card [config]="{type:'bmi'}" [existsConsultation]="verifyConsultations()"></app-card>
  <app-card [config]="{type:'body-mass'}" [existsConsultation]="verifyConsultations()"></app-card>
  <app-card [config]="{type:'fat'}" [existsConsultation]="verifyConsultations()"></app-card>
  <app-card [config]="{type:'visceral-fat'}" [existsConsultation]="verifyConsultations()"></app-card>
  <app-card [config]="{type:'whr'}" [existsConsultation]="verifyConsultations()"></app-card>
</section>
