.container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  padding: 0 40px 0 0;
  box-sizing: border-box;
}

.sidebar{
  display: flex;
  padding: 30px 0;
  top: 1.5vh;
  left: 20px;
  bottom: 2.5vh;
  height: auto;
  max-height: calc(100vh - 10vh);
  position: fixed;
  z-index: 100;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

app-sidebar{
  width: 100px;
  margin-left: 40px;
  transition: width 0.3s ease;
}

.container.sidebar-expanded app-sidebar{
  width: 200px;
}

.main-content {
  flex: 1;
  margin-left: 180px;
  padding:  40px 0 40px 0px;;
  max-height: 100vh;
  transition: margin-left 0.3s ease;
}

.container.container.sidebar-expanded .main-content{
  margin-left: 280px;
}
