:host{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
}


.buttons-footer{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}
