<div class="card-header">
  <div class="edit-wrap">
    <img src="assets/iconos/edit.png" alt="" class="edit-icon">
  </div>
</div>
<dl>
  <div class="row">
    <dt>Antecedentes:</dt>
    <dd><b>Anorexia nerviosa, cancer de estomago</b></dd>
  </div>
  <hr>
  <div class="row">
    <dt>Alergias:</dt>
    <dd><b>Antihistaminicos, Penicilina, Antiinflamatorios</b></dd>
  </div>
  <hr>
  <div class="row">
    <dt>Enfermedades:</dt>
    <dd><b>Diabetes tipo II, Ansiedad, Asma</b></dd>
  </div>
</dl>
