*{
  padding: 0;
  margin: 0;
}

:host{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar{
  width: 100px;
  height: 100px;
}

h4{
  margin-top: 10px;
  font-size: 1.2rem;
  color: var(--primary-color);
}
span{
  font-size: 1rem;
  color: var(--secondary-color);
}