@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --background-color: #FFFFFF;
    --primary-color: #62ADA5;
    --secondary-color: #F5A345;
    --tertiary-color: #99CCCC;
    --text-color: #565656;
    --font-main: 'Poppins', sans-serif;
    --title-weight: 900;
    --subtiles-weigth: 400;
    --hover-color: #1A7A79;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    min-width: 100vw;
    min-height: 100vh;
}
