.dashboard{
    display: flex;
    flex-direction: column;
}

.search-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.cards-container{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}


